HeatIndex.sln
.vs/HeatIndex/DesignTimeBuild/.dtbcache.v2
.vs/HeatIndex/FileContentIndex/45ce1cae-e6b5-4d02-bfb1-3261cb802188.vsidx
.vs/HeatIndex/FileContentIndex/8a8df737-9374-40e1-a5d3-f9b0437c7f1e.vsidx
.vs/HeatIndex/FileContentIndex/ec58ac66-0758-4850-b8d4-1c597a74d23a.vsidx
.vs/HeatIndex/FileContentIndex/f3d7df2b-e38a-4e40-b303-ef5a1c27c0b7.vsidx
.vs/HeatIndex/FileContentIndex/read.lock
.vs/HeatIndex/v17/.futdcache.v2
.vs/HeatIndex/v17/.suo
.vs/ProjectEvaluation/heatindex.metadata.v7.bin
.vs/ProjectEvaluation/heatindex.projects.v7.bin
HeatIndex/bin/Heat Index Calculator.zip
HeatIndex/bin/Debug/AngleSharp.dll
HeatIndex/bin/Debug/AngleSharp.xml
HeatIndex/bin/Debug/chromedriver.exe
HeatIndex/bin/Debug/HeatIndex.application
HeatIndex/bin/Debug/HeatIndex.exe
HeatIndex/bin/Debug/HeatIndex.exe.config
HeatIndex/bin/Debug/HeatIndex.exe.manifest
HeatIndex/bin/Debug/HeatIndex.pdb
HeatIndex/bin/Debug/System.Buffers.dll
HeatIndex/bin/Debug/System.Buffers.xml
HeatIndex/bin/Debug/System.Memory.dll
HeatIndex/bin/Debug/System.Memory.xml
HeatIndex/bin/Debug/System.Numerics.Vectors.dll
HeatIndex/bin/Debug/System.Numerics.Vectors.xml
HeatIndex/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
HeatIndex/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
HeatIndex/bin/Debug/System.Text.Encoding.CodePages.dll
HeatIndex/bin/Debug/System.Text.Encoding.CodePages.xml
HeatIndex/bin/Debug/WebDriver.dll
HeatIndex/bin/Debug/app.publish/HeatIndex.exe
HeatIndex/bin/Release/AngleSharp.dll
HeatIndex/bin/Release/AngleSharp.xml
HeatIndex/bin/Release/ChangeLog.txt
HeatIndex/bin/Release/chromedriver.exe
HeatIndex/bin/Release/for alex10081122.txt
HeatIndex/bin/Release/HeatIndex.application
HeatIndex/bin/Release/HeatIndex.exe
HeatIndex/bin/Release/HeatIndex.exe.config
HeatIndex/bin/Release/HeatIndex.exe.manifest
HeatIndex/bin/Release/HeatIndex.pdb
HeatIndex/bin/Release/LICENSE.chromedriver
HeatIndex/bin/Release/README.txt
HeatIndex/bin/Release/System.Buffers.dll
HeatIndex/bin/Release/System.Buffers.xml
HeatIndex/bin/Release/System.Memory.dll
HeatIndex/bin/Release/System.Memory.xml
HeatIndex/bin/Release/System.Numerics.Vectors.dll
HeatIndex/bin/Release/System.Numerics.Vectors.xml
HeatIndex/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
HeatIndex/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
HeatIndex/bin/Release/System.Text.Encoding.CodePages.dll
HeatIndex/bin/Release/System.Text.Encoding.CodePages.xml
HeatIndex/bin/Release/WebDriver.dll
HeatIndex/bin/Release/app.publish/HeatIndex.exe
HeatIndex/bin/Release/OldVersion/v.1.0.0.0/HeatIndex.exe
HeatIndex/bin/Release/OldVersion/v.1.0.0.1/HeatIndex.exe
HeatIndex/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
HeatIndex/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HeatIndex/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HeatIndex/obj/Debug/HeatIndex NET Framework 4.csproj.AssemblyReference.cache
HeatIndex/obj/Debug/HeatIndex.application
HeatIndex/obj/Debug/HeatIndex.csproj.AssemblyReference.cache
HeatIndex/obj/Debug/HeatIndex.csproj.CopyComplete
HeatIndex/obj/Debug/HeatIndex.csproj.CoreCompileInputs.cache
HeatIndex/obj/Debug/HeatIndex.csproj.FileListAbsolute.txt
HeatIndex/obj/Debug/HeatIndex.csproj.GenerateResource.cache
HeatIndex/obj/Debug/HeatIndex.csproj.SuggestedBindingRedirects.cache
HeatIndex/obj/Debug/HeatIndex.exe
HeatIndex/obj/Debug/HeatIndex.exe.manifest
HeatIndex/obj/Debug/HeatIndex.Form1.resources
HeatIndex/obj/Debug/HeatIndex.pdb
HeatIndex/obj/Debug/HeatIndex.Properties.Resources.resources
HeatIndex/obj/Debug/HeatIndex.TrustInfo.xml
HeatIndex/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
HeatIndex/obj/Release/DesignTimeResolveAssemblyReferences.cache
HeatIndex/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
HeatIndex/obj/Release/HeatIndex NET Framework 4.csproj.AssemblyReference.cache
HeatIndex/obj/Release/HeatIndex NET Framwork 4.csproj.AssemblyReference.cache
HeatIndex/obj/Release/HeatIndex.application
HeatIndex/obj/Release/HeatIndex.csproj.AssemblyReference.cache
HeatIndex/obj/Release/HeatIndex.csproj.CopyComplete
HeatIndex/obj/Release/HeatIndex.csproj.CoreCompileInputs.cache
HeatIndex/obj/Release/HeatIndex.csproj.FileListAbsolute.txt
HeatIndex/obj/Release/HeatIndex.csproj.GenerateResource.cache
HeatIndex/obj/Release/HeatIndex.csproj.SuggestedBindingRedirects.cache
HeatIndex/obj/Release/HeatIndex.exe
HeatIndex/obj/Release/HeatIndex.exe.manifest
HeatIndex/obj/Release/HeatIndex.Form1.resources
HeatIndex/obj/Release/HeatIndex.pdb
HeatIndex/obj/Release/HeatIndex.Properties.Resources.resources
HeatIndex/obj/Release/HeatIndex.TrustInfo.xml
HeatIndex/Properties/app.manifest
HeatIndex/Properties/AssemblyInfo.cs
HeatIndex/Properties/Resources.Designer.cs
HeatIndex/Properties/Resources.resx
HeatIndex/Properties/Settings.Designer.cs
HeatIndex/Properties/Settings.settings
HeatIndex/publish/HeatIndex.application
HeatIndex/publish/setup.exe
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/aaf5r-caalt-001.ico.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/AngleSharp.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/HeatIndex.application
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/HeatIndex.exe.config.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/HeatIndex.exe.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/HeatIndex.exe.manifest
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/System.Buffers.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/System.Memory.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/System.Numerics.Vectors.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/System.Runtime.CompilerServices.Unsafe.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/System.Text.Encoding.CodePages.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_0/WebDriver.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/aaf5r-caalt-001.ico.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/AngleSharp.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/HeatIndex.application
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/HeatIndex.exe.config.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/HeatIndex.exe.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/HeatIndex.exe.manifest
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/System.Buffers.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/System.Memory.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/System.Numerics.Vectors.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/System.Runtime.CompilerServices.Unsafe.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/System.Text.Encoding.CodePages.dll.deploy
HeatIndex/publish/Application Files/HeatIndex_1_0_0_1/WebDriver.dll.deploy
HeatIndex_NET6/bin/Debug/net6.0-windows/HeatIndex_NET6.deps.json
HeatIndex_NET6/bin/Debug/net6.0-windows/HeatIndex_NET6.dll
HeatIndex_NET6/bin/Debug/net6.0-windows/HeatIndex_NET6.exe
HeatIndex_NET6/bin/Debug/net6.0-windows/HeatIndex_NET6.pdb
HeatIndex_NET6/bin/Debug/net6.0-windows/HeatIndex_NET6.runtimeconfig.json
HeatIndex_NET6/bin/Debug/net6.0-windows/Microsoft.IdentityModel.Abstractions.dll
HeatIndex_NET6/bin/Debug/net6.0-windows/Microsoft.IdentityModel.Logging.dll
HeatIndex_NET6/bin/Debug/net6.0-windows/Microsoft.IdentityModel.Tokens.dll
HeatIndex_NET6/bin/Debug/net6.0-windows/Microsoft.Win32.SystemEvents.dll
HeatIndex_NET6/bin/Debug/net6.0-windows/Newtonsoft.Json.dll
HeatIndex_NET6/bin/Debug/net6.0-windows/System.Drawing.Common.dll
HeatIndex_NET6/bin/Debug/net6.0-windows/WebDriver.dll
HeatIndex_NET6/bin/Debug/net6.0-windows/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
HeatIndex_NET6/bin/Debug/net6.0-windows/runtimes/win/lib/net6.0/System.Drawing.Common.dll
HeatIndex_NET6/bin/Debug/net6.0-windows/selenium-manager/linux/selenium-manager
HeatIndex_NET6/bin/Debug/net6.0-windows/selenium-manager/macos/selenium-manager
HeatIndex_NET6/bin/Debug/net6.0-windows/selenium-manager/windows/selenium-manager.exe
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.deps.json
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.exe
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.pdb
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.runtimeconfig.json
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/Microsoft.IdentityModel.Abstractions.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/Microsoft.IdentityModel.Logging.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/Microsoft.IdentityModel.Tokens.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/Microsoft.Win32.SystemEvents.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/Microsoft.Windows.SDK.NET.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/Newtonsoft.Json.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/System.Drawing.Common.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/WebDriver.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/WinRT.Runtime.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/selenium-manager/linux/selenium-manager
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/selenium-manager/macos/selenium-manager
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/selenium-manager/windows/selenium-manager.exe
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/HeatIndex.deps.json
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/HeatIndex.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/HeatIndex.exe
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/HeatIndex.pdb
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/HeatIndex.runtimeconfig.json
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/Microsoft.IdentityModel.Abstractions.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/Microsoft.IdentityModel.Logging.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/Microsoft.IdentityModel.Tokens.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/Microsoft.Win32.SystemEvents.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/Microsoft.Windows.SDK.NET.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/Newtonsoft.Json.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/System.Drawing.Common.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/WebDriver.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/WinRT.Runtime.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/selenium-manager/linux/selenium-manager
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/selenium-manager/macos/selenium-manager
HeatIndex_NET6/bin/Release/net6.0-windows10.0.19041.0/selenium-manager/windows/selenium-manager.exe
HeatIndex_NET6/obj/HeatIndex_NET6.csproj.nuget.dgspec.json
HeatIndex_NET6/obj/HeatIndex_NET6.csproj.nuget.g.props
HeatIndex_NET6/obj/HeatIndex_NET6.csproj.nuget.g.targets
HeatIndex_NET6/obj/project.assets.json
HeatIndex_NET6/obj/project.nuget.cache
HeatIndex_NET6/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
HeatIndex_NET6/obj/Debug/net6.0-windows/apphost.exe
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.AssemblyInfo.cs
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.AssemblyInfoInputs.cache
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.assets.cache
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.csproj.AssemblyReference.cache
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.csproj.BuildWithSkipAnalyzers
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.csproj.CopyComplete
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.csproj.CoreCompileInputs.cache
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.csproj.FileListAbsolute.txt
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.csproj.GenerateResource.cache
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.designer.deps.json
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.designer.runtimeconfig.json
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.dll
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.Form1.resources
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.GeneratedMSBuildEditorConfig.editorconfig
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.genruntimeconfig.cache
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.GlobalUsings.g.cs
HeatIndex_NET6/obj/Debug/net6.0-windows/HeatIndex_NET6.pdb
HeatIndex_NET6/obj/Debug/net6.0-windows/ref/HeatIndex_NET6.dll
HeatIndex_NET6/obj/Debug/net6.0-windows/refint/HeatIndex_NET6.dll
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/apphost.exe
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.AssemblyInfo.cs
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.AssemblyInfoInputs.cache
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.assets.cache
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.AssemblyReference.cache
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.BuildWithSkipAnalyzers
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.CopyComplete
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.CoreCompileInputs.cache
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.FileListAbsolute.txt
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.GenerateResource.cache
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.designer.deps.json
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.designer.runtimeconfig.json
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.dll
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.Form1.resources
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.GeneratedMSBuildEditorConfig.editorconfig
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.genruntimeconfig.cache
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.GlobalUsings.g.cs
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex_NET6.pdb
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/ref/HeatIndex_NET6.dll
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/refint/HeatIndex_NET6.dll
HeatIndex_NET6/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
HeatIndex_NET6/obj/Release/net6.0-windows/HeatIndex_NET6.AssemblyInfo.cs
HeatIndex_NET6/obj/Release/net6.0-windows/HeatIndex_NET6.AssemblyInfoInputs.cache
HeatIndex_NET6/obj/Release/net6.0-windows/HeatIndex_NET6.assets.cache
HeatIndex_NET6/obj/Release/net6.0-windows/HeatIndex_NET6.csproj.AssemblyReference.cache
HeatIndex_NET6/obj/Release/net6.0-windows/HeatIndex_NET6.designer.deps.json
HeatIndex_NET6/obj/Release/net6.0-windows/HeatIndex_NET6.designer.runtimeconfig.json
HeatIndex_NET6/obj/Release/net6.0-windows/HeatIndex_NET6.GeneratedMSBuildEditorConfig.editorconfig
HeatIndex_NET6/obj/Release/net6.0-windows/HeatIndex_NET6.GlobalUsings.g.cs
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/apphost.exe
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex.dll
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex.pdb
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.AssemblyInfo.cs
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.AssemblyInfoInputs.cache
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.assets.cache
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.AssemblyReference.cache
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.BuildWithSkipAnalyzers
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.CopyComplete
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.CoreCompileInputs.cache
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.FileListAbsolute.txt
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.csproj.GenerateResource.cache
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.designer.deps.json
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.designer.runtimeconfig.json
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.Form1.resources
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.GeneratedMSBuildEditorConfig.editorconfig
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.genruntimeconfig.cache
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex_NET6.GlobalUsings.g.cs
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/ref/HeatIndex.dll
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/refint/HeatIndex.dll
packages/AngleSharp.0.17.1/.signature.p7s
packages/AngleSharp.0.17.1/AngleSharp.0.17.1.nupkg
packages/AngleSharp.0.17.1/logo.png
packages/AngleSharp.0.17.1/lib/net461/AngleSharp.dll
packages/AngleSharp.0.17.1/lib/net461/AngleSharp.xml
packages/AngleSharp.0.17.1/lib/net472/AngleSharp.dll
packages/AngleSharp.0.17.1/lib/net472/AngleSharp.xml
packages/AngleSharp.0.17.1/lib/netstandard2.0/AngleSharp.dll
packages/AngleSharp.0.17.1/lib/netstandard2.0/AngleSharp.xml
packages/Selenium.WebDriver.4.4.0/.signature.p7s
packages/Selenium.WebDriver.4.4.0/Selenium.WebDriver.4.4.0.nupkg
packages/Selenium.WebDriver.4.4.0/images/icon.png
packages/Selenium.WebDriver.4.4.0/lib/net45/WebDriver.dll
packages/Selenium.WebDriver.4.4.0/lib/net46/WebDriver.dll
packages/Selenium.WebDriver.4.4.0/lib/net47/WebDriver.dll
packages/Selenium.WebDriver.4.4.0/lib/net48/WebDriver.dll
packages/Selenium.WebDriver.4.4.0/lib/net5.0/WebDriver.dll
packages/Selenium.WebDriver.4.4.0/lib/netstandard2.0/WebDriver.dll
packages/Selenium.WebDriver.4.4.0/lib/netstandard2.1/WebDriver.dll
packages/System.Buffers.4.5.1/.signature.p7s
packages/System.Buffers.4.5.1/LICENSE.TXT
packages/System.Buffers.4.5.1/System.Buffers.4.5.1.nupkg
packages/System.Buffers.4.5.1/THIRD-PARTY-NOTICES.TXT
packages/System.Buffers.4.5.1/useSharedDesignerContext.txt
packages/System.Buffers.4.5.1/version.txt
packages/System.Buffers.4.5.1/lib/net461/System.Buffers.dll
packages/System.Buffers.4.5.1/lib/net461/System.Buffers.xml
packages/System.Buffers.4.5.1/lib/netcoreapp2.0/_._
packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.5.1/lib/uap10.0.16299/_._
packages/System.Buffers.4.5.1/ref/net45/System.Buffers.dll
packages/System.Buffers.4.5.1/ref/net45/System.Buffers.xml
packages/System.Buffers.4.5.1/ref/netcoreapp2.0/_._
packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.5.1/ref/uap10.0.16299/_._
packages/System.Memory.4.5.4/.signature.p7s
packages/System.Memory.4.5.4/LICENSE.TXT
packages/System.Memory.4.5.4/System.Memory.4.5.4.nupkg
packages/System.Memory.4.5.4/THIRD-PARTY-NOTICES.TXT
packages/System.Memory.4.5.4/useSharedDesignerContext.txt
packages/System.Memory.4.5.4/version.txt
packages/System.Memory.4.5.4/lib/net461/System.Memory.dll
packages/System.Memory.4.5.4/lib/net461/System.Memory.xml
packages/System.Memory.4.5.4/lib/netcoreapp2.1/_._
packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.dll
packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.xml
packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.dll
packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.xml
packages/System.Memory.4.5.4/ref/netcoreapp2.1/_._
packages/System.Numerics.Vectors.4.5.0/.signature.p7s
packages/System.Numerics.Vectors.4.5.0/LICENSE.TXT
packages/System.Numerics.Vectors.4.5.0/System.Numerics.Vectors.4.5.0.nupkg
packages/System.Numerics.Vectors.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.Numerics.Vectors.4.5.0/useSharedDesignerContext.txt
packages/System.Numerics.Vectors.4.5.0/version.txt
packages/System.Numerics.Vectors.4.5.0/lib/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.5.0/lib/MonoTouch10/_._
packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/uap10.0.16299/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinios10/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinmac20/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarintvos10/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.5.0/ref/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.5.0/ref/MonoTouch10/_._
packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/uap10.0.16299/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinios10/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinmac20/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarintvos10/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinwatchos10/_._
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/.signature.p7s
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/Icon.png
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/LICENSE.TXT
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/System.Runtime.CompilerServices.Unsafe.6.0.0.nupkg
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/THIRD-PARTY-NOTICES.TXT
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/useSharedDesignerContext.txt
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/buildTransitive/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.targets
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/buildTransitive/netcoreapp3.1/_._
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net461/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net461/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net6.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net6.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Text.Encoding.CodePages.6.0.0/.signature.p7s
packages/System.Text.Encoding.CodePages.6.0.0/Icon.png
packages/System.Text.Encoding.CodePages.6.0.0/LICENSE.TXT
packages/System.Text.Encoding.CodePages.6.0.0/System.Text.Encoding.CodePages.6.0.0.nupkg
packages/System.Text.Encoding.CodePages.6.0.0/THIRD-PARTY-NOTICES.TXT
packages/System.Text.Encoding.CodePages.6.0.0/useSharedDesignerContext.txt
packages/System.Text.Encoding.CodePages.6.0.0/buildTransitive/netcoreapp2.0/System.Text.Encoding.CodePages.targets
packages/System.Text.Encoding.CodePages.6.0.0/buildTransitive/netcoreapp3.1/_._
packages/System.Text.Encoding.CodePages.6.0.0/lib/MonoAndroid10/_._
packages/System.Text.Encoding.CodePages.6.0.0/lib/MonoTouch10/_._
packages/System.Text.Encoding.CodePages.6.0.0/lib/net461/System.Text.Encoding.CodePages.dll
packages/System.Text.Encoding.CodePages.6.0.0/lib/net461/System.Text.Encoding.CodePages.xml
packages/System.Text.Encoding.CodePages.6.0.0/lib/net6.0/System.Text.Encoding.CodePages.dll
packages/System.Text.Encoding.CodePages.6.0.0/lib/net6.0/System.Text.Encoding.CodePages.xml
packages/System.Text.Encoding.CodePages.6.0.0/lib/netcoreapp3.1/System.Text.Encoding.CodePages.dll
packages/System.Text.Encoding.CodePages.6.0.0/lib/netcoreapp3.1/System.Text.Encoding.CodePages.xml
packages/System.Text.Encoding.CodePages.6.0.0/lib/netstandard2.0/System.Text.Encoding.CodePages.dll
packages/System.Text.Encoding.CodePages.6.0.0/lib/netstandard2.0/System.Text.Encoding.CodePages.xml
packages/System.Text.Encoding.CodePages.6.0.0/lib/xamarinios10/_._
packages/System.Text.Encoding.CodePages.6.0.0/lib/xamarinmac20/_._
packages/System.Text.Encoding.CodePages.6.0.0/lib/xamarintvos10/_._
packages/System.Text.Encoding.CodePages.6.0.0/lib/xamarinwatchos10/_._
packages/System.Text.Encoding.CodePages.6.0.0/runtimes/win/lib/net461/System.Text.Encoding.CodePages.dll
packages/System.Text.Encoding.CodePages.6.0.0/runtimes/win/lib/net461/System.Text.Encoding.CodePages.xml
packages/System.Text.Encoding.CodePages.6.0.0/runtimes/win/lib/net6.0/System.Text.Encoding.CodePages.dll
packages/System.Text.Encoding.CodePages.6.0.0/runtimes/win/lib/net6.0/System.Text.Encoding.CodePages.xml
packages/System.Text.Encoding.CodePages.6.0.0/runtimes/win/lib/netcoreapp3.1/System.Text.Encoding.CodePages.dll
packages/System.Text.Encoding.CodePages.6.0.0/runtimes/win/lib/netcoreapp3.1/System.Text.Encoding.CodePages.xml
packages/System.Text.Encoding.CodePages.6.0.0/runtimes/win/lib/netstandard2.0/System.Text.Encoding.CodePages.dll
packages/System.Text.Encoding.CodePages.6.0.0/runtimes/win/lib/netstandard2.0/System.Text.Encoding.CodePages.xml
.vs/HeatIndex/FileContentIndex/352c2cb9-e097-42af-9605-7293af8500e1.vsidx
.vs/HeatIndex/FileContentIndex/7217c5f3-0e67-4de8-b4d4-d518ad23fdf6.vsidx
.vs/HeatIndex/FileContentIndex/a1fdce87-a3b2-4f59-8086-71d9e77976b9.vsidx
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/HeatIndex.deps.json
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/HeatIndex.dll
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/HeatIndex.exe
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/HeatIndex.pdb
HeatIndex_NET6/bin/Debug/net6.0-windows10.0.19041.0/HeatIndex.runtimeconfig.json
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex.dll
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/HeatIndex.pdb
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/ref/HeatIndex.dll
HeatIndex_NET6/obj/Debug/net6.0-windows10.0.19041.0/refint/HeatIndex.dll
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex.designer.deps.json
HeatIndex_NET6/obj/Release/net6.0-windows10.0.19041.0/HeatIndex.designer.runtimeconfig.json
.vs/HeatIndex/FileContentIndex/22e0b253-460d-4d16-92ce-d60cb5358066.vsidx
.vs/HeatIndex/FileContentIndex/567c2d7d-bfdc-4c2c-8c3d-e5a291bb6660.vsidx
.vs/HeatIndex/FileContentIndex/caa99ee0-98df-4792-b23f-edb68a04077f.vsidx
